[submodule "broker"]
	path = broker
	url = https://github.com/cloud-ai-ufcg/broker
	branch = main
[submodule "ai-engine"]
	path = ai-engine
	url = https://github.com/cloud-ai-ufcg/ai-engine
	branch = main
[submodule "monitor"]
	path = monitor
	url = https://github.com/cloud-ai-ufcg/monitor
	branch = main
[submodule "recommendations-manager"]
	path = recommendations-manager
	url = https://github.com/cloud-ai-ufcg/recommendations-manager
	branch = main